<form ngForm class="filter-row">
    <label>Area</label>
    <input name="area" type="text" [(ngModel)]="filterData.area">
    
    <label>Field</label>
    <select name="field" [(ngModel)]="filterData.field">
      <option [value]="fields.FullStackDeveleper">FullStackDeveloper</option>
      <option [value]="fields.QA">QA</option>
      <option [value]="fields.BackEnd">BackEnd</option>
    </select>
    
    <button appButton type="button" (click)="filter()">Filter</button>
  </form>
  
  <div *ngFor="let j of viewJobs">
    <app-job [jobData]="j"></app-job>
  </div>

  <button appButton type="button" (click)="reset()">reset</button>
  